# Logistic Regression

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [32]:
data=pd.read_csv('churn_prediction_cleaned.csv')
data.head()

,customer_id,vintage,age,dependents,occupation,city,customer_nw_category,branch_code,days_since_last_transaction,current_balance,...,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn,gender_female,gender_male
0,1,3135.0,66,0.0,0,187.000000,2,755.000000,69.997814,1458.71,...,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0,0,1
1,2,310.0,35,0.0,0,796.109576,2,925.975019,60.000000,5390.37,...,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0,0,1
2,4,2356.0,31,0.0,1,146.000000,2,41.000000,69.997814,3913.16,...,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0,0,1
3,5,478.0,90,0.0,0,1020.000000,2,582.000000,147.000000,2291.91,...,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1,0,1
4,6,2531.0,42,2.0,0,1494.000000,3,388.000000,58.000000,927.72,...,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1,0,1

In [33]:
data.shape

(28382, 22)

In [34]:
data.dtypes

customer_id                         int64
vintage                           float64
age                                 int64
dependents                        float64
occupation                          int64
city                              float64
customer_nw_category                int64
branch_code                       float64
days_since_last_transaction       float64
current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
churn                               int64
gender_female                       int64
gender_male                         int64
dtype: object

In [35]:
data.isnull().sum()

customer_id                       0
vintage                           0
age                               0
dependents                        0
occupation                        0
city                              0
customer_nw_category              0
branch_code                       0
days_since_last_transaction       0
current_balance                   0
previous_month_end_balance        0
average_monthly_balance_prevQ     0
average_monthly_balance_prevQ2    0
current_month_credit              0
previous_month_credit             0
current_month_debit               0
previous_month_debit              0
current_month_balance             0
previous_month_balance            0
churn                             0
gender_female                     0
gender_male                       0
dtype: int64

### Segregate Variables:Independent And dependent Variables

In [36]:
x=data.drop('churn',axis=1)
y=data['churn']
x.shape,y.shape

((28382, 21), (28382,))

### Scaling

In [37]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x_scaled=scaler.fit_transform(x)

In [38]:
x=pd.DataFrame(x_scaled,columns=x.columns)

In [39]:
x.head()

,customer_id,vintage,age,dependents,occupation,city,customer_nw_category,branch_code,days_since_last_transaction,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,gender_female,gender_male
0,0.000000,0.555451,0.730337,0.000000,0.00,0.113402,0.5,0.279363,0.451599,0.001178,...,0.000005,0.003572,1.548512e-08,8.044683e-08,2.487609e-08,1.343546e-07,0.000836,0.001158,0.0,1.0
1,0.000033,0.024436,0.382022,0.000000,0.00,0.482783,0.5,0.342710,0.387097,0.001843,...,0.001118,0.005754,4.482534e-08,2.328724e-07,7.182983e-04,7.110188e-05,0.001707,0.002438,0.0,1.0
2,0.000099,0.409023,0.337079,0.000000,0.25,0.088539,0.5,0.014820,0.451599,0.001593,...,0.000611,0.003844,4.890037e-08,2.540426e-07,7.916775e-04,1.833021e-04,0.001450,0.001789,0.0,1.0
3,0.000132,0.056015,1.000000,0.000000,0.00,0.618557,0.5,0.215265,0.948387,0.001319,...,0.000115,0.003484,3.749028e-08,1.947660e-07,6.022631e-08,1.515605e-03,0.000980,0.001195,0.0,1.0
4,0.000165,0.441917,0.460674,0.038462,0.00,0.906004,1.0,0.143386,0.374194,0.001088,...,0.000038,0.003656,2.608020e-08,3.025648e-04,7.706481e-05,1.087601e-03,0.000784,0.001196,0.0,1.0

### Train Test Split

In [40]:
from sklearn.model_selection import train_test_split as tts

In [41]:
train1_x,test_x,train1_y,test_y=tts(x,y,test_size=0.2,random_state=50,stratify=y)

### Train Valid split

In [42]:
train_x,valid_x,train_y,valid_y=tts(train1_x,train1_y,test_size=0.2,random_state=50,stratify=train1_y)

In [43]:
train1_x.shape,test_x.shape,train_x.shape,valid_x.shape,train1_y.shape,test_y.shape,train_y.shape,valid_y.shape

((22705, 21),
 (5677, 21),
 (18164, 21),
 (4541, 21),
 (22705,),
 (5677,),
 (18164,),
 (4541,))

### Importing logistic regression model

In [44]:
from sklearn.linear_model import LogisticRegression

### imorting accuracy_score for evaluation

In [45]:
from sklearn.metrics import accuracy_score as scr

In [46]:
LR=LogisticRegression()
LR.fit(train1_x,train1_y)

#testing the model on train1 dataset itself
pred1=LR.predict(train1_x)
train1_score=scr(pred1,train1_y)

#testing the model on test dataset
pred2=LR.predict(test_x)
test_score=scr(pred2,test_y)

#testing the model on train dataset
pred3=LR.predict(train_x)
train_score=scr(pred3,train_y)

#testing the model on validation dataset
pred4=LR.predict(valid_x)
valid_score=scr(pred4,valid_y)

In [47]:
train1_score,test_score,train_score,valid_score

(0.8145782867209865,
 0.8143385590981153,
 0.8146333406738604,
 0.8143580709094913)

### Making Predictions Using  predict_proba Function

In [48]:
test_predict=LR.predict_proba(test_x)

In [49]:
test_preds=test_predict[:,1]

In [50]:
for i in range(0,len(test_preds)):
    if(test_preds[i]>0.55):
        test_preds[i]=1
    else:
        test_preds[i]=0

In [52]:
k=scr(test_preds,test_y)
k

0.8143385590981153

### Confusion Matrix

In [53]:
from sklearn.metrics import confusion_matrix as CM

cm=CM(test_y,pred2)     #where pred2=lr.predict(test_x)
cm

array([[4621,    4],
       [1050,    2]], dtype=int64)

In [54]:
cm=CM(valid_y,LR.predict(valid_x))
cm

array([[3697,    2],
       [ 841,    1]], dtype=int64)

# Report

In [55]:
from sklearn.metrics import classification_report as rep
test_report=rep( test_y ,pred2)
valid_score=rep(valid_y,pred4)

In [56]:
print(test_report)

              precision    recall  f1-score   support

           0       0.81      1.00      0.90      4625
           1       0.33      0.00      0.00      1052

    accuracy                           0.81      5677
   macro avg       0.57      0.50      0.45      5677
weighted avg       0.73      0.81      0.73      5677

In [57]:
print(valid_score)

              precision    recall  f1-score   support

           0       0.81      1.00      0.90      3699
           1       0.33      0.00      0.00       842

    accuracy                           0.81      4541
   macro avg       0.57      0.50      0.45      4541
weighted avg       0.73      0.81      0.73      4541