# Random Forest

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data=pd.read_csv('churn_prediction_cleaned.csv')

In [4]:
data.head()

,customer_id,vintage,age,dependents,occupation,city,customer_nw_category,branch_code,days_since_last_transaction,current_balance,...,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn,gender_female,gender_male
0,1,3135.0,66,0.0,0,187.000000,2,755.000000,69.997814,1458.71,...,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0,0,1
1,2,310.0,35,0.0,0,796.109576,2,925.975019,60.000000,5390.37,...,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0,0,1
2,4,2356.0,31,0.0,1,146.000000,2,41.000000,69.997814,3913.16,...,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0,0,1
3,5,478.0,90,0.0,0,1020.000000,2,582.000000,147.000000,2291.91,...,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1,0,1
4,6,2531.0,42,2.0,0,1494.000000,3,388.000000,58.000000,927.72,...,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1,0,1

In [5]:
data.shape,data.isnull().sum()

((28382, 22),
 customer_id                       0
 vintage                           0
 age                               0
 dependents                        0
 occupation                        0
 city                              0
 customer_nw_category              0
 branch_code                       0
 days_since_last_transaction       0
 current_balance                   0
 previous_month_end_balance        0
 average_monthly_balance_prevQ     0
 average_monthly_balance_prevQ2    0
 current_month_credit              0
 previous_month_credit             0
 current_month_debit               0
 previous_month_debit              0
 current_month_balance             0
 previous_month_balance            0
 churn                             0
 gender_female                     0
 gender_male                       0
 dtype: int64)

### segregating dependent and independent variables

In [6]:
x=data.drop('churn',axis=1)
y=data['churn']

### scaling

In [7]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)

In [8]:
x=pd.DataFrame(x_scaled,columns=x.columns)

### train-test split

In [9]:
from sklearn.model_selection import train_test_split
train1_x,test_x,train1_y,test_y=train_test_split(x,y,test_size=0.2,random_state=50,stratify=y)
train_x,valid_x,train_y,valid_y=train_test_split(train1_x,train1_y,test_size=0.2,random_state=51,stratify=train1_y)

### Importing random forest algorithm for classification

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
RF=RandomForestClassifier(random_state=51)
RF.fit(train1_x,train1_y)
train1_score=RF.score(train1_x,train1_y)
test_score=RF.score(test_x,test_y)
train_score=RF.score(train_x,train_y)
valid_score=RF.score(valid_x,valid_y)

In [12]:
train1_score,train_score,test_score,valid_score

(1.0, 1.0, 0.8685925664963889, 1.0)

# Confusion matrix

In [16]:
from sklearn.metrics import confusion_matrix

In [18]:
cm1=confusion_matrix(test_y,RF.predict(test_x))
cm1

array([[4462,  163],
       [ 583,  469]], dtype=int64)

In [19]:
cm2=confusion_matrix(valid_y,RF.predict(valid_x))
cm2

array([[3699,    0],
       [   0,  842]], dtype=int64)

# Report

In [20]:
from sklearn.metrics import classification_report as report

In [22]:
test_report=report(test_y,RF.predict(test_x))
valid_report=report(valid_y,RF.predict(valid_x))

In [23]:
print(test_report)

              precision    recall  f1-score   support

           0       0.88      0.96      0.92      4625
           1       0.74      0.45      0.56      1052

    accuracy                           0.87      5677
   macro avg       0.81      0.71      0.74      5677
weighted avg       0.86      0.87      0.86      5677

In [25]:
print(valid_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3699
           1       1.00      1.00      1.00       842

    accuracy                           1.00      4541
   macro avg       1.00      1.00      1.00      4541
weighted avg       1.00      1.00      1.00      4541